.RightTile{
    border-left: solid #acadb8 2px;
    border-bottom: solid #acadb8 2px;

    /* position: relative; */
    height: 25%;
    padding: 10px;
    overflow: hidden;
    
}
.RightTile p,h2{
    padding-top: 8px;

    text-align: center;
    margin: 0;
    color: #9FA2B4;
}
.RightTile h2{
    color: #252733;
}